<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d3d7448c-00da-4ac1-82c8-d4116b2a5105" name="Swagger Petstore Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [Swagger Petstore]</con:description>
  <con:settings>
    <con:setting id="d3d7448c-00da-4ac1-82c8-d4116b2a5105fileName">Swagger-Petstore-Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c223a23a-9828-448e-a0d1-73a02cde244c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
